<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
            th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
<head>
    <meta charset="UTF-8">
    <title>List of vets</title>
</head>
<body>
    <h2 th:text="'Vetirenarians'">Lists vrts</h2>

<table id ="vets" class="table table-striped">
    <thead>
    <tr>
        <th >Name</th>
        <th >Specialties</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="vet : ${vets}">
        <td th:text="${vet.firstName+' '+vet.lastName}"></td>
        <td>
            <span th:each="spec : ${vet.specialities}" th:text="${spec.description+' '}"/>
            <span th:if="${vet?.specialities?.size()==0}" th:text="none">none</span>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>